<link href="/stylesheets/datatables.min.css" rel="stylesheet">
<div class="container-fluid">
    <h4 class="c-grey-900 mT-10 mB-30">Samagent</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                <table id="dtb_agent" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>UUID</th>
                            <th>Computer</th>
                            <th>Username</th>
                            <th>OS</th>
                            <th>Status</th>
                            <th>Last check time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/datatables.min.js" type="text/javascript" defer="defer"></script>
<script src="/javascripts/dataTables.bootstrap5.js" type="text/javascript" defer="defer"></script>
<script type="text/javascript">
    const API_AGENT_DATA = '{{{apiAgentData}}}'
</script>
<script src="/javascripts/agent.js" type="text/javascript" defer="defer"></script>