<h4 class="c-grey-900 mT-10 mB-30 d-flex justify-content-between">
  <span>{{rec.computerSystem.name}}</span>
  <span>
    <button id="btnRefreshAll" class="btn btn-sm btn-link" title="Refresh"> <i class="fa fa-rotate-right"></i> Refresh</button>
  </span>
</h4>
<div class="row gap-20 pos-r">
  <div class="masonry-sizer col-md-6"></div>
  <div class="masonry-item w-100">
    <div class="row gap-20">
      <!-- #Status ==================== -->
      <div class="col-md-1">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1 ta-c">Status</h6>
          </div>
          <div class="layer w-100 ta-c">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500">{{buildStatus rec.status}}</span>
          </div>
        </div>
      </div>

      <!-- #Registered Date ==================== -->
      <div class="col-md-2">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1 ta-c">Registered Date</h6>
          </div>
          <div class="layer w-100 ta-c">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500" title="{{rec.createdAt}}">
                  {{getAgoDay rec.created_at}}
                  </span>
          </div>
        </div>
      </div>

      <!-- #Total Page Views ==================== -->
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Total Page Views</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash2"></span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500">-7%</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- #Unique Visitors ==================== -->
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Unique Visitor</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash3"></span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500">~12%</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- #Bounce Rate ==================== -->
      <div class="col-md-3">
        <div class="layers bd bgc-white p-20">
          <div class="layer w-100 mB-10">
            <h6 class="lh-1">Bounce Rate</h6>
          </div>
          <div class="layer w-100">
            <div class="peers ai-sb fxw-nw">
              <div class="peer peer-greed">
                <span id="sparklinedash4"></span>
              </div>
              <div class="peer">
                <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500">33%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-12">
    <!-- #Screenshoot&Summary System ==================== -->
    <div class="bd bgc-white">
      <div class="peers fxw-nw@lg+ ai-s">
        <div class="peer peer-greed w-60p@lg+ w-100@lg- p-20">
          <div class="layers">
            <div class="layer w-100 mB-10 d-flex justify-content-between">
              <h6 class="lh-1">Screenshoot</h6>
              <h6 class="lh-1">{{rec.lastUpdated}}</h6>
            </div>
            <div class="layer w-100">
              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  {{#each screenshoots}}
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{@index}}"
                    aria-current="true" aria-label="Slide {{@index}}"></button>
                  {{/each}}
                </div>
                <div class="carousel-inner">
                  {{#each screenshoots}}
                  <div class="carousel-item active">
                    <img src="{{this}}" class="d-block w-100" alt="screenshoot">
                  </div>
                  {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div id="divSystemInfo" style="overflow-y: scroll; padding-top: 0!important"
          class="peer bdL p-20 w-40p@lg+ w-100p@lg-">
          <div class="layers">
            <div class="layer w-100">

              <ul class="nav nav-tabs" style="margin-left: -20px; margin-right: -20px; background: #fff">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" data-bs-toggle="tab" href="#tabSystemInfo">Computer
                    System</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabOS">OS</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabNICs">NICs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabCPUs">CPUs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabDesktops">Desktops</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabApplications">Applications</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabDiskDrivers">Disk drivers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabVolumes">Volumes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabSoundDevices">Sound devices</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabStartups">Startups</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" data-bs-toggle="tab" href="#tabAntivirus">Antivirus</a>
                </li>
              </ul>
              <div class="tab-content" style="overflow-y: scroll; height: 100%;">
                <div id="tabSystemInfo" role="tabpanel" class="tab-pane active">
                  <div class="layers">
                    <div class="layer w-100 bdT">
                      {{#eachProperty rec.computerSystem}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                  </div>
                </div>
                <div id="tabOS" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    <div class="layer w-100">
                      {{#eachProperty rec.os}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                  </div>
                </div>
                <div id="tabCPUs" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.cpus}}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabNICs" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.nics}}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabDiskDrivers" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.diskDrives }}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabVolumes" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.volumes }}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabDesktops" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.desktops }}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabStartups" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.startups}}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabApplications" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.applications}}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabSoundDevices" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.soundDevices}}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
                <div id="tabAntivirus" role="tabpanel" class="tab-pane in">
                  <div class="layers">
                    {{#each rec.antiviruses}}
                    <div class="layer w-100 bdT">
                      {{#eachProperty this}}
                      <div class="peers ai-l jc-sb fxw-nw">
                        <div class="peer fw-600 c-grey-700">{{property}}</div>
                        <div class="peer ta-r">{{value}}</div>
                      </div>
                      {{/eachProperty}}
                    </div>
                    {{/each}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="masonry-item col-md-6">
    <!-- #Chat ==================== -->
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 p-20">
          <h6 class="lh-1">Command</h6>
        </div>
        <div class="layer w-100" >

          <div class="bgc-grey-200 p-20 gapY-15" style="height: 250px; overflow: scroll!important;" id="divChatScroll">
            {{#each commands }}
            <div class="peers fxw-nw ai-fe">
              <div class="peer ord-1 mL-20">
                <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/12.jpg" alt="">
              </div>
              <div class="peer peer-greed ord-0">
                <div class="layers ai-fe gapY-10">
                  <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                      <div class="peer mL-10 ord-1">
                        <small>{{formatDate created_at}}</small>
                      </div>
                      <div class="peer-greed ord-0">
                        <span class="fw-600">{{command}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{#if response}}
            <div class="peers fxw-nw">
              <div class="peer peer-greed">
                <div class="layers ai-fs gapY-5">
                  <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                      <div class="peer mR-10">
                        <small>{{formatDate responseAt}}</small>
                      </div>
                      <div class="peer-greed">
                        <span>{{response}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/if}}
            {{/each}}
          </div>

          <div class="p-20 bdT bgc-white">
            <div class="pos-r">
              <form id="frmSendCommand" method="post">
                <input type="text" name="command" class="form-control bdrs-10em m-0" placeholder="Say something...">
                <button type="submit" class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1">
                  <i class="fa fa-paper-plane-o"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <!-- #Monthly Stats ==================== -->
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 pX-20 pT-20">
          <h6 class="lh-1">Resources Stats</h6>
        </div>
        <div class="layer w-100 p-20">
          <canvas id="resources-chart" height="200px"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <!-- #Todo ==================== -->
    <div class="bd bgc-white p-20">
      <div class="layers">
        <div class="layer w-100 mB-10">
          <h6 class="lh-1">Todo List</h6>
        </div>
        <div class="layer w-100">
          <ul class="list-task list-group" data-role="tasklist">
            <li class="list-group-item bdw-0" data-role="task">
              <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" id="inputCall1" name="inputCheckboxesCall" class="peer">
                <label for="inputCall1" class="form-label peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Call John for Dinner</span>
                </label>
              </div>
            </li>
            <li class="list-group-item bdw-0" data-role="task">
              <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" id="inputCall2" name="inputCheckboxesCall" class="peer">
                <label for="inputCall2" class="form-label peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Book Boss Flight</span>
                  <span class="peer">
                    <span class="badge rounded-pill fl-r bg-success lh-0 p-10">2 Days</span>
                  </span>
                </label>
              </div>
            </li>
            <li class="list-group-item bdw-0" data-role="task">
              <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" id="inputCall3" name="inputCheckboxesCall" class="peer">
                <label for="inputCall3" class="form-label peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Hit the Gym</span>
                  <span class="peer">
                    <span class="badge rounded-pill fl-r bg-danger lh-0 p-10">3 Minutes</span>
                  </span>
                </label>
              </div>
            </li>
            <li class="list-group-item bdw-0" data-role="task">
              <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" id="inputCall4" name="inputCheckboxesCall" class="peer">
                <label for="inputCall4" class="form-label peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Give Purchase Report</span>
                  <span class="peer">
                    <span class="badge rounded-pill fl-r bg-warning lh-0 p-10">not important</span>
                  </span>
                </label>
              </div>
            </li>
            <li class="list-group-item bdw-0" data-role="task">
              <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" id="inputCall5" name="inputCheckboxesCall" class="peer">
                <label for="inputCall5" class="form-label peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Watch Game of Thrones Episode</span>
                  <span class="peer">
                    <span class="badge rounded-pill fl-r bg-info lh-0 p-10">Tomorrow</span>
                  </span>
                </label>
              </div>
            </li>
            <li class="list-group-item bdw-0" data-role="task">
              <div class="checkbox checkbox-circle checkbox-info peers ai-c">
                <input type="checkbox" id="inputCall6" name="inputCheckboxesCall" class="peer">
                <label for="inputCall6" class="form-label peers peer-greed js-sb ai-c">
                  <span class="peer peer-greed">Give Purchase report</span>
                  <span class="peer">
                    <span class="badge rounded-pill fl-r bg-success lh-0 p-10">Done</span>
                  </span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <!-- #Sales Report ==================== -->
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 p-20">
          <h6 class="lh-1">Sales Report</h6>
        </div>
        <div class="layer w-100">
          <div class="bgc-light-blue-500 c-white p-20">
            <div class="peers ai-c jc-sb gap-40">
              <div class="peer peer-greed">
                <h5>November 2017</h5>
                <p class="mB-0">Sales Report</p>
              </div>
              <div class="peer">
                <h3 class="text-end">$6,000</h3>
              </div>
            </div>
          </div>
          <div class="table-responsive p-20">
            <table class="table">
              <thead>
                <tr>
                  <th class="bdwT-0">Name</th>
                  <th class="bdwT-0">Status</th>
                  <th class="bdwT-0">Date</th>
                  <th class="bdwT-0">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="fw-600">Item #1 Name</td>
                  <td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c rounded-pill">Unavailable</span> </td>
                  <td>Nov 18</td>
                  <td><span class="text-success">$12</span></td>
                </tr>
                <tr>
                  <td class="fw-600">Item #2 Name</td>
                  <td><span class="badge bgc-deep-purple-50 c-deep-purple-700 p-10 lh-0 tt-c rounded-pill">New</span>
                  </td>
                  <td>Nov 19</td>
                  <td><span class="text-info">$34</span></td>
                </tr>
                <tr>
                  <td class="fw-600">Item #3 Name</td>
                  <td><span class="badge bgc-pink-50 c-pink-700 p-10 lh-0 tt-c rounded-pill">New</span></td>
                  <td>Nov 20</td>
                  <td><span class="text-danger">-$45</span></td>
                </tr>
                <tr>
                  <td class="fw-600">Item #4 Name</td>
                  <td><span class="badge bgc-green-50 c-green-700 p-10 lh-0 tt-c rounded-pill">Unavailable</span></td>
                  <td>Nov 21</td>
                  <td><span class="text-success">$65</span></td>
                </tr>
                <tr>
                  <td class="fw-600">Item #5 Name</td>
                  <td><span class="badge bgc-red-50 c-red-700 p-10 lh-0 tt-c rounded-pill">Used</span></td>
                  <td>Nov 22</td>
                  <td><span class="text-success">$78</span></td>
                </tr>
                <tr>
                  <td class="fw-600">Item #6 Name</td>
                  <td><span class="badge bgc-orange-50 c-orange-700 p-10 lh-0 tt-c rounded-pill">Used</span> </td>
                  <td>Nov 23</td>
                  <td><span class="text-danger">-$88</span></td>
                </tr>
                <tr>
                  <td class="fw-600">Item #7 Name</td>
                  <td><span class="badge bgc-yellow-50 c-yellow-700 p-10 lh-0 tt-c rounded-pill">Old</span></td>
                  <td>Nov 22</td>
                  <td><span class="text-success">$56</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ta-c bdT w-100 p-20">
        <a href="#">Check all the sales</a>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <!-- #Weather ==================== -->
    <div class="bd bgc-white p-20">
      <div class="layers">

        <div class="layer w-100 mB-20">
          <h6 class="lh-1">Weather</h6>
        </div>


        <div class="layer w-100">
          <div class="peers ai-c jc-sb fxw-nw">
            <div class="peer peer-greed">
              <div class="layers">

                <div class="layer w-100">
                  <div class="peers fxw-nw ai-c">
                    <div class="peer mR-20">
                      <h3>32<sup>°F</sup></h3>
                    </div>
                    <div class="peer">
                      <canvas class="sleet" width="44" height="44"></canvas>
                    </div>
                  </div>
                </div>


                <div class="layer w-100">
                  <span class="fw-600 c-grey-600">Partly Clouds</span>
                </div>
              </div>
            </div>
            <div class="peer">
              <div class="layers ai-fe">
                <div class="layer">
                  <h5 class="mB-5">Monday</h5>
                </div>
                <div class="layer">
                  <span class="fw-600 c-grey-600">Nov, 01 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="layer w-100 mY-30">
          <div class="layers bdB">
            <div class="layer w-100 bdT pY-5">
              <div class="peers ai-c jc-sb fxw-nw">
                <div class="peer">
                  <span>Wind</span>
                </div>
                <div class="peer ta-r">
                  <span class="fw-600 c-grey-800">10km/h</span>
                </div>
              </div>
            </div>
            <div class="layer w-100 bdT pY-5">
              <div class="peers ai-c jc-sb fxw-nw">
                <div class="peer">
                  <span>Sunrise</span>
                </div>
                <div class="peer ta-r">
                  <span class="fw-600 c-grey-800">05:00 AM</span>
                </div>
              </div>
            </div>
            <div class="layer w-100 bdT pY-5">
              <div class="peers ai-c jc-sb fxw-nw">
                <div class="peer">
                  <span>Pressure</span>
                </div>
                <div class="peer ta-r">
                  <span class="fw-600 c-grey-800">1B</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="layer w-100">
          <div class="peers peers-greed ai-fs ta-c">
            <div class="peer">
              <h6 class="mB-10">MON</h6>
              <canvas class="sleet" width="30" height="30"></canvas>
              <span class="d-b fw-600">32<sup>°F</sup></span>
            </div>
            <div class="peer">
              <h6 class="mB-10">TUE</h6>
              <canvas class="clear-day" width="30" height="30"></canvas>
              <span class="d-b fw-600">30<sup>°F</sup></span>
            </div>
            <div class="peer">
              <h6 class="mB-10">WED</h6>
              <canvas class="partly-cloudy-day" width="30" height="30"></canvas>
              <span class="d-b fw-600">28<sup>°F</sup></span>
            </div>
            <div class="peer">
              <h6 class="mB-10">THR</h6>
              <canvas class="cloudy" width="30" height="30"></canvas>
              <span class="d-b fw-600">32<sup>°F</sup></span>
            </div>
            <div class="peer">
              <h6 class="mB-10">FRI</h6>
              <canvas class="snow" width="30" height="30"></canvas>
              <span class="d-b fw-600">24<sup>°F</sup></span>
            </div>
            <div class="peer">
              <h6 class="mB-10">SAT</h6>
              <canvas class="wind" width="30" height="30"></canvas>
              <span class="d-b fw-600">28<sup>°F</sup></span>
            </div>
            <div class="peer">
              <h6 class="mB-10">SUN</h6>
              <canvas class="sleet" width="30" height="30"></canvas>
              <span class="d-b fw-600">32<sup>°F</sup></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="masonry-item col-md-6">
    <!-- #Chat ==================== -->
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 p-20">
          <h6 class="lh-1">Quick Chat</h6>
        </div>
        <div class="layer w-100">

          <div class="bgc-grey-200 p-20 gapY-15">

            <div class="peers fxw-nw">
              <div class="peer mR-20">
                <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/11.jpg" alt="">
              </div>
              <div class="peer peer-greed">
                <div class="layers ai-fs gapY-5">
                  <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                      <div class="peer mR-10">
                        <small>10:00 AM</small>
                      </div>
                      <div class="peer-greed">
                        <span>Lorem Ipsum is simply dummy text of</span>
                      </div>
                    </div>
                  </div>
                  <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                      <div class="peer mR-10">
                        <small>10:00 AM</small>
                      </div>
                      <div class="peer-greed">
                        <span>the printing and typesetting industry.</span>
                      </div>
                    </div>
                  </div>
                  <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                      <div class="peer mR-10">
                        <small>10:00 AM</small>
                      </div>
                      <div class="peer-greed">
                        <span>Lorem Ipsum has been the industry's</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="peers fxw-nw ai-fe">
              <div class="peer ord-1 mL-20">
                <img class="w-2r bdrs-50p" src="https://randomuser.me/api/portraits/men/12.jpg" alt="">
              </div>
              <div class="peer peer-greed ord-0">
                <div class="layers ai-fe gapY-10">
                  <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                      <div class="peer mL-10 ord-1">
                        <small>10:00 AM</small>
                      </div>
                      <div class="peer-greed ord-0">
                        <span>Heloo</span>
                      </div>
                    </div>
                  </div>
                  <div class="layer">
                    <div class="peers fxw-nw ai-c pY-3 pX-10 bgc-white bdrs-2 lh-3/2">
                      <div class="peer mL-10 ord-1">
                        <small>10:00 AM</small>
                      </div>
                      <div class="peer-greed ord-0">
                        <span>??</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="p-20 bdT bgc-white">
            <div class="pos-r">
              <input type="text" class="form-control bdrs-10em m-0" placeholder="Say something...">
              <button type="button" class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1">
                <i class="fa fa-paper-plane-o"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    var API_SEND_COMMAND = '{{{apiSendCommand}}}'
    var API_GET_COMMAND = '{{{apiGetCommand}}}'
    var DATA_CHART_RESOURCES = '{{{resourceUsaged}}}'
  </script>
  <script defer="defer" src="/javascripts/agent-detail.js" type="text/javascript"></script>