<!DOCTYPE html>
<html>

{{> page/head }}

<body class="app">






    <div id="loader">
        <div class="spinner"></div>
    </div>

    <script>
        window.addEventListener('load', function load() {
            const loader = document.getElementById('loader');
            setTimeout(function () {
                loader.classList.add('fadeOut');
            }, 300);
        });
    </script>



    <div>

        {{> left_sidebar }}

        <!-- #Main ============================ -->
        <div class="page-container">

            {{> topbar }}

            <!-- ### $App Screen Content ### -->
            <main class="main-content bgc-grey-100">
                <div id="mainContent">
                    {{{body}}}
                </div>
            </main>

            {{> footer }}
        </div>
    </div>